<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="sony"  class="com.ashwin.beans.SonyPrinter"/>
    <bean id="hp"  class="com.ashwin.beans.HPrinter"/>
    
    <bean id="atm"  class="com.ashwin.beans.ATM"> 
           <constructor-arg  ref="sony"/>
           <property name="iprinter" ref="hp"></property>
    </bean>
     

</beans>